<h2> Customers List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Cin</th>
            <th> Email</th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.cin}}</td>
            <td>{{customer.email}}</td>
            <td>
                <button class="btn btn-info" (click)="updateCustomer(customer.id)">Update</button>
                <button class="btn btn-danger" style="margin-left: 10px;"
                    (click)="deleteCustomer(customer.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>